*{
	margin: 0px;
	padding: 0px;

}

body {
	background-image: url(../imagenes/fondo.jpg);
	background-attachment: fixed;
}
#contenedor {
	width: 80%;
	margin: auto;

}

#navegacion {
	
	overflow: auto;
}
#navegacion li {
	background: black;
	float: left;
	list-style-type: none;
}

#navegacion li:hover {
	background: darkgray;
}

#navegacion li a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 15px;

}

#banner img {
	width:100%;
	height:auto;
}

#Fiestas {
	overflow: auto;
	

}

#Fiestas .Fiestas {
	float: left;
	width: 25.3%;
	margin: 2%;
	padding: 2%;

}
#Fiestas .Fiestas img {
	width: 100%;
	height:auto;
}

#Fiestas .Fiestas h3{
	padding: 4px;
	background: papayawhip;
	color: black;
	font-family: sans-serif, cursive;
	margin-bottom: 16px;
	font-family: 'Kalam', cursive;
}

#San Jorge p{
	color: white
}


#piePagina li {
	float: left;
	list-style-type: none;
}

footer{
	width: 100%;
	color: #636363;
	background-color: rgba(255, 236, 236, 0.7)
}
.container-footer-all{
	width: 100%
	max-width: 1600px;
	margin: auto;
	padding: 40px;
}
.container-body{
	display: flex;
	justify-content: space-between;
}
.colum1{
	max-width: 400px;
}
.colum1 h1{
	font-size: 22px;
}
.colum1 p{
	font-size: 14px;
	color: #636363;
	margin-top: 20px;
}
.colum2{
	max-width:400px; 
}
.colum2 h1{
	font-size: 22px;
}
.colum2 .row{
	margin-top: 20px;
	display: flex;
}
.row img{
	width: 36px;
	height: 36px;

}
.row label{
	margin-top: 10px;
	margin-left: 20px;
	color: ;
}
.colum3{
	max-width: 400px;
}
.colum3 h1{
	font-size: 22px;
}
.row2{
	margin-top: 20px;
}
.row2 img{
	width: 36px;
	height: 36px;
}
.row2 label{
	margin-top: 10px;
	margin-left: 20px;
	max-width: 140px;
}
.container-footer{
	width: 100%;
	background: #101010;
	display: flex;
	justify-content: space-between;

}
.footer{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;

}
.copyright{
	color: #C7C7C7;
}
.copyright a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.information a{
	text-decoration: none;
	color: #C7C7C7;
}